@import "../../assets/styles/config/_all";
@import "../../assets/styles/mixins/_all";

$brandSize: 3em!default;

.brand {
  position: relative;
  background-image:url('./brand.png');
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: $brandSize;
  margin: 0;
  width: $brandSize;
}

.brand__visually-hidden {
  @include visuallyHidden;
}
