@import '../../assets/styles/mixins/utils';

.todo-list-item {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  padding: 1em;
  @include clearfix;
}

.todo-list-item__title, .todo-list-item__description {
  position: relative;
  margin: 0.3em 0;
}

.todo-list-item__title {
  font-weight: normal;
}

.todo-list-item__description {
  font-size: 0.8em;
}

.todo-list-item__group {
  position: relative;
}

.todo-list-item__group--primary {
  float: right;
  width: calc(100% - 2em);
  padding: 0 1em;
}

.todo-list-item__group--secondary {
  float: left;
  width: 2em;
}

.todo-list-item__btn {
  position: relative;
  border:1px solid #ccc;
  border-radius: 50%;
  padding: 0;
  width: 2em;
  height: 2em;

  > span {
    visibility: hidden;
    display: block;
    height: 0;
    width:0;
  }
}

.todo-list-item--complete {
  opacity: 0.6;

  .todo-list-item__title, .todo-list-item__description  {
    text-decoration: line-through;
  }

  .todo-list-item__btn  {
    background-color: #dedede;
  }
}