

.todo-list {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.todo-list > :first-child {
  margin-top: 0;
}

.todo-list > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.todo-list__title {
  font-size: 0.8em;
  font-weight: normal;
  margin: 0.7em 0;
  padding-left: 1em;
  padding-right: 1em;
}

.todo-list__list {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.todo-list__group {
  position: relative;
  padding: 0.5em 0;
}

.todo-list__list > li {
  position: relative;
  margin: 0.3em 0;
}

.todo-list__list > li:last-child {
  margin-bottom: 0;
}

.todo-list__group--tasks, .todo-list__group--completed  {
  display: none;
}

.todo-list--tasks-active {
  .todo-list__group--tasks {
    display: block;
  }
}

.todo-list--tasks-completed {
  .todo-list__group--completed {
    display: block;
  }
}